@model IEnumerable<Tournament.ViewModels.LegViewModel>

<ul>
    @foreach (var leg in Model)
    {
        <li>@leg.Date.ToShortDateString() - @Html.ActionLink(leg.Name, "detail", "leg", new { id = leg.Id.Id(), slug = leg.Slug }, null) - @Html.ActionLink("edit", "edit", "leg", new { id = leg.Id }, null) - @Html.ActionLink("delete", "delete", "leg", new { id = leg.Id }, null)</li>
    }
</ul>