@model Tournament.ViewModels.LoginModel

@{
    ViewBag.Title = "Log in";
}

<h2>Restricted Area</h2>
@using (Html.BeginForm(new {ViewBag.ReturnUrl}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.TextBoxFor(m => m.UserName, new { placeholder = "username" })
    @Html.PasswordFor(m => m.Password, new { placeholder = "password" })
    <label class="checkbox">
        <input type="checkbox" value="remember-me"> Remember me
    </label>
    <button class="btn btn-large btn-primary" type="submit">Log in</button>
}