@model IEnumerable<Tournament.ViewModels.PlayerViewModel>

<ul>
    @foreach (var player in Model)
    {
        <li>@Html.ActionLink(player.FullName, "detail", "player", new { id = player.Id.Id(), slug = player.Slug }, null) - 
            @Html.ActionLink("Edit", "Edit", "player", new { id = player.Id }, null) - 
            @Html.ActionLink("Delete", "Delete", "Player", new { id = player.Id }, null)</li>
    }
</ul>