@model IEnumerable<Tournament.ViewModels.TeamViewModel>

@{
    ViewBag.Title = "Teams";
}

<h2>Teams</h2>

<ul>
    @foreach (var team in Model)
    {
        <li>@Html.ActionLink(team.Name, "detail", new { id = team.Id.Id(), slug = team.Slug }, null)</li>   
    }
</ul>