@model IEnumerable<Tournament.ViewModels.TeamViewModel>

@{
    ViewBag.Title = "Teams";
}

<h2>Teams</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<ul>
    @foreach (var team in Model)
    {
        <li>@Html.ActionLink(team.Name, "detail", new { id = team.Id.Id(), slug = team.Slug }, null)  - @Html.ActionLink("Edit", "Edit", new { id = team.Id }) - @Html.ActionLink("Delete", "Delete", new { id = team.Id })</li>   
    }
</ul>